{% extends 'base_template.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container-fluid p-0">
        <img class="main-background" src="{% static 'images/discounts-main-back.jpg' %}" alt="Фон"/>
    </div>
    <div class="container-fluid p-0">
        <h2 class="display-4 text-black text-center my-3">
            <a name="discounts-block"></a>
            Акции и скидки
        </h2>
        <div class="row mb-5 text-center justify-content-center">
            <div class="col-4 mr-5 bordered sale-block">
                <div class="row justify-content-center">
                    <div class="col-auto mt-2">
                        <img class="icon-md paw-icon" src="{% static 'images/paw.svg' %}"/>
                    </div>
                    <h3 class="display-4-5 text-black logo-title mt-2">
                        Курс «Золотой пёс»
                    </h3>
                    <div class="col-auto mt-2">
                        <img class="icon-md paw-icon" src="{% static 'images/paw.svg' %}"/>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto text-justify h-12-5 d-flex align-items-center">
<span class="discounts-text d-flex">
Включает в себя 10 групповых занятий в Красносельском районе, 5 индивидуальных занятий в Красносельском районе, а также консультации инструктора-дрессировщика на протяжении всего курса, как очно, так и онлайн.
</span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button class="btn btn-make-order bordered mt-4 px-5" type="submit">Заказать</button>
                </div>
            </div>
            <div class="col-4 bordered sale-block">
                <div class="row justify-content-center">
                    <div class="col-auto mt-2">
                        <img class="icon-md paw-icon" src="{% static 'images/paw.svg' %}"/>
                    </div>
                    <h3 class="display-4-5 text-black logo-title mt-2">
                        Курс «Серебряный пёс»
                    </h3>
                    <div class="col-auto mt-2">
                        <img class="icon-md paw-icon" src="{% static 'images/paw.svg' %}"/>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto text-justify h-12-5 d-flex align-items-center">
<span class="discounts-text d-flex">
Включает в себя 5 групповых занятий в Красносельском районе, 5 индивидуальных занятий в Красносельском районе, а также консультации инструктора-дрессировщика на протяжении всего курса, как очно, так и онлайн.
</span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button class="btn btn-make-order bordered mt-4 px-5" type="submit">Заказать</button>
                </div>
            </div>
        </div>
        <div class="row mb-5 text-center justify-content-center">
            <div class="col-4 mr-5 bordered sale-block">
                <div class="row justify-content-center">
                    <div class="col-auto mt-2">
                        <img class="icon-md paw-icon" src="{% static 'images/paw.svg' %}"/>
                    </div>
                    <h3 class="display-4-5 text-black logo-title mt-2">
                        Курс «Постоянный клиент»
                    </h3>
                    <div class="col-auto mt-2">
                        <img class="icon-md paw-icon" src="{% static 'images/paw.svg' %}"/>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto text-justify h-12-5 d-flex align-items-center">
<span class="discounts-text d-flex">
Включает в себя 20 групповых занятий в Красносельском районе, 10 индивидуальных занятий в Красносельском районе, а также консультации инструктора-дрессировщика на протяжении всего курса, как очно, так и онлайн.
</span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button class="btn btn-make-order bordered mt-4 px-5" type="submit">Заказать</button>
                </div>
            </div>
            <div class="col-4 bordered sale-block">
                <div class="row justify-content-center">
                    <div class="col-auto mt-2">
                        <img class="icon-md paw-icon" src="{% static 'images/paw.svg' %}"/>
                    </div>
                    <h3 class="display-4-5 text-black logo-title mt-2">
                        Курс «Первые шаги»
                    </h3>
                    <div class="col-auto mt-2">
                        <img class="icon-md paw-icon" src="{% static 'images/paw.svg' %}"/>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto text-justify h-12-5 d-flex align-items-center">
<span class="discounts-text d-flex">
Включает в себя 5 индивидуальных занятий со щенком (4-9 месяцев) в Красносельском районе, а также консультации инструктора-дрессировщика на протяжении всего курса, как очно, так и онлайн.
</span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button class="btn btn-make-order bordered mt-4 px-5" type="submit">Заказать</button>
                </div>
            </div>
        </div>
        <div class="row mb-5 text-center justify-content-center">
            <div class="col-4 mr-5 bordered sale-block">
                <div class="row justify-content-center">
                    <div class="col-auto mt-2">
                        <img class="icon-md paw-icon" src="{% static 'images/paw.svg' %}"/>
                    </div>
                    <h3 class="display-4-5 text-black logo-title mt-2">
                        10 групповых по цене 9
                    </h3>
                    <div class="col-auto mt-2">
                        <img class="icon-md paw-icon" src="{% static 'images/paw.svg' %}"/>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto text-justify h-12-5 d-flex align-items-center">
<span class="discounts-text d-flex">
Включает в себя 10 групповых занятий в Красносельском районе, а также консультации инструктора-дрессировщика на протяжении всего курса, как очно, так и онлайн.
</span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button class="btn btn-make-order bordered mt-4 px-5" type="submit">Заказать</button>
                </div>
            </div>
            <div class="col-4 bordered sale-block">
                <div class="row justify-content-center">
                    <div class="col-auto mt-2">
                        <img class="icon-md paw-icon" src="{% static 'images/paw.svg' %}"/>
                    </div>
                    <h3 class="display-4-5 text-black logo-title mt-2">
                        10 индивидуальных по цене 9
                    </h3>
                    <div class="col-auto mt-2">
                        <img class="icon-md paw-icon" src="{% static 'images/paw.svg' %}"/>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto text-justify h-12-5 d-flex align-items-center">
<span class="discounts-text d-flex">
Включает в себя 10 индивидуальных занятий в Красносельском районе, а также консультации инструктора-дрессировщика на протяжении всего курса, как очно, так и онлайн.
</span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button class="btn btn-make-order bordered mt-4 px-5" type="submit">Заказать</button>
                </div>
            </div>
        </div>
        <div class="row mb-5 text-center justify-content-center">
            <div class="col-4 mr-5 bordered sale-block">
                <div class="row justify-content-center">
                    <div class="col-auto mt-2">
                        <img class="icon-md paw-icon" src="{% static 'images/paw.svg' %}"/>
                    </div>
                    <h3 class="display-4-5 text-black logo-title mt-2">
                        5 прогулок
                    </h3>
                    <div class="col-auto mt-2">
                        <img class="icon-md paw-icon" src="{% static 'images/paw.svg' %}"/>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto text-justify h-12-5 d-flex align-items-center">
<span class="discounts-text d-flex">
Включает в себя 5 прогулок у понравившегося Вам волкера со скидкой 15%.
</span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button class="btn btn-make-order bordered mt-4 px-5" type="submit">Заказать</button>
                </div>
            </div>
            <div class="col-4 bordered sale-block">
                <div class="row justify-content-center">
                    <div class="col-auto mt-2">
                        <img class="icon-md paw-icon" src="{% static 'images/paw.svg' %}"/>
                    </div>
                    <h3 class="display-4-5 text-black logo-title mt-2">
                        20 прогулок
                    </h3>
                    <div class="col-auto mt-2">
                        <img class="icon-md paw-icon" src="{% static 'images/paw.svg' %}"/>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto text-justify h-12-5 d-flex align-items-center">
<span class="discounts-text d-flex">
Включает в себя 20 прогулок у понравившегося Вам волкера всего за 5 тысяч рублей.
</span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <button class="btn btn-make-order bordered mt-4 px-5" type="submit">Заказать</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}