{% extends 'base_template.html' %}
{% load staticfiles %}
{% block content %}
    <div class="container-fluid  p-0">
        <img class="main-background" src="{% static 'images/order-main-back.jpg' %}" alt="Фон"/>
    </div>
    <div class="container-fluid p-0">
        <h2 class="display-4 text-black text-center logo-title-4 mt-5">
            Сделать заказ
        </h2>
        <div class="row d-flex justify-content-center text-justify ml-4">
            <p class="training-text mx-5 w-90">Внимание! Заказ выгула находится <a href="/walking" style="color: blue">здесь!</a></p>
            <p class="training-text mx-5 w-90">В данном разделе Вы можете заказать акции по дрессировке и акции по
                выгулу собак, занятия по различным
                видами дрессировки, заказать товары или консультации. Пожалуйста, заполните контактные данные:</p>
        </div>
        <div class="row justify-content-center p-0">
            <iframe class="order-form"
                    src="https://docs.google.com/forms/d/e/1FAIpQLSfqRJg2KumrlCLUQl8W_mmI6-IVQy8QTuOXZLRq1osWYrOmEg/viewform?embedded=true"
                    frameborder="0" marginheight="0" marginwidth="0">Загрузка...
            </iframe>
        </div>
    </div>
{% endblock %}