{% extends 'base_template.html' %}
{% load staticfiles %}
{% block content %}
    {% include 'flags.html' %}
    {% include 'header.html' %}
    <div class="container-fluid">
        <h1 class="display-4 text-black text-center logo-title-5">
            О нас
        </h1>
        <div class="row my-5">
            <p class="lead text-center training-text mx-5"> Наша команда сформировалась благодаря большой любви к
                собакам, накопленному за многие годы опыту, жажде продвижения в кинологической сфере и вопиющей
                несправедливости – необразованного поголовья людей, выдающих себя за кинологов.</p>

            <p class="lead text-center training-text mx-5">Мы относимся ответственно к своей работе, каждый сотрудник
                нашего клуба обладает багажом знаний, необходимым для того, чтобы грамотно обучить или выгулять Вашу
                собаку. Каждый член нашей команды развивается ежедневно, дополняет свои навыки, получает все новый опыт.
                Мы не набираем в наш коллектив кого попало, тщательно выбираем каждого волкера или инструктора. Каждый
                новый сотрудник проходит длинный путь обучения – теоретического и практического – в среднем около
                трех-четырех недель. На протяжении своей работы сотрудники находятся под строгим контролем – мы
                стараемся сделать все так, чтобы клиент был больше, чем доволен.</p>

            <p class="lead text-center training-text mx-5">При обучении каждый наш сотрудник получает важные советы,
                строгие запреты и грамотные наставления. Именно поэтому на прогулках у нас не случается казусы, в любой
                непонятной ситуации наши специалисты найдут правильное решение.</p>

            <p class="lead text-center training-text mx-5">Отношения в нашей команде похожи больше на связку
                «товарищ-товарищ», нежели «начальник-подчиненный». Мы стараемся создавать гармонию в нашем обществе, в
                команде строим доверительные отношения. Только так команда может стремительно двигаться вперед, ничего
                не скрывая друг от друга и помогая в любой спорной ситуации. При таком отношении друг к другу такие же
                замечательные отношения складываются у нас с клиентами.</p>

            <p class="lead text-center training-text mx-5">Если Вам требуются не напыщенные люди, а инструктора или
                волкеры, которые рассматривают кинологическую сферу не в финансовом русле, а как развитие собаководства
                в России, пропаганда грамотного гуманного собаководства, то можете написать нам – мы всегда рады
                сотрудничеству и новым знакомствам.
            </p>
        </div>
    </div>
{% endblock %}