{% extends 'base_template.html' %}
{% load staticfiles %}
{% block robots %}none{% endblock %}
{% block links %}
<link rel="canonical" href="https://agsdog.ru/contacts" />
{% endblock %}
{% block content %}
    {% include 'flags.html' %}
    {% include 'header.html' %}
    <div class="container-fluid p-0 d-flex flex-column justify-content-center">
        <h1 class="display-4 text-black text-center" style="margin-top:8%">
            Наши контакты
        </h1>
        <div class="container mb-4 bordered w-40 contacts-container text-center">
            <span class="display-4-5 text-black logo-title-4 text-center mt-2">
                Ассоциация Грамотного Собаководства
            </span>
            <div class="row ml-2 my-2">
                <div class="col-lg-10">
                    <div class="row justify-content-between">
                        <span class="training-text">Телефон:</span>
                        <div class="col contacts-between mb-2-5 mx-2"></div>
                        <span class="training-text">+7 (951) 654-72-77</span>
                    </div>
                    <div class="row justify-content-between">
                        <span class="training-text">E-mail:</span>
                        <div class="col contacts-between mb-2-5 mx-2"></div>
                        <span class="training-text">anna171097@mail.ru</span>
                    </div>
                    <div class="row justify-content-between">
                        <span class="training-text">Адрес:</span>
                        <div class="col contacts-between mb-2-5 mx-2"></div>
                        <span class="training-text">Красносельский район</span>
                    </div>
                </div>
                <div class="col p-0">
                    <img class="icon-lg mt-1 mx-4 p-0" src="{% static 'images/balloon-2.svg' %}"/>
                </div>
            </div>
        </div>
        <div class="container bordered w-40 py-3 h-auto contacts-container d-flex mb-3">
            <div class="col w-50">
                <form>
                    <h2 class="display-5 text-dark text-center logo-title">
                        У Вас появились вопросы?
                    </h2>
                    <div class="form-row">
                        <div class="col">
                            <input class="form-control bordered" id="input-name" placeholder="Имя" type="text">
                        </div>
                        <div class="col">
                            <input class="form-control bordered" id="input-district" placeholder="Ваш район"
                                   type="text">
                        </div>
                    </div>
                    <div class="form-row mt-3">
                        <div class="col">
                            <input class="form-control bordered" id="input-email" placeholder="E-mail" type="email">
                        </div>
                        <div class="col">
                            <input class="form-control bordered" id="input-phone" placeholder="Телефон"
                                   type="tel">
                        </div>
                    </div>
                    <div class="form-row from-group mt-3">
                            <textarea class="form-control bordered" id="input-text" placeholder="Ваше сообщение"
                                      rows="6"></textarea>
                    </div>
                    <div class="row-fluid d-flex justify-content-center form-inline">
                        <button class="btn btn-contact-us-2 bordered mt-4 px-5 w-100" type="submit">Отправить
                        </button>
                    </div>
                </form>
            </div>
            <div class="col embed-responsive">
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa14f6bfda48ced5f6d0aea3dace7b2fe43c803cd45991d6133647df3e92c2b17&amp;source=constructor"
                        frameborder="0"></iframe>
            </div>
        </div>
    </div>
    <div class="row-copyright d-flex align-items-end">
        <span class="copyright">© 2019 AGSdog</span>
    </div>
{% endblock %}