{% load static %}
<div class="px-4    arrow-up h-100">
    <img alt="Вверх" class="icon-md" src="{% static 'images/arrow.svg' %}"/>
</div>
<div class="container-fluid p-0 h-100">
    <header>
        <div class="container-fluid fixed-top">
            <div class="row">
                <div class="col-auto">
                    <a class=" navbar-brand" href="/">
                        <img alt="Логотип" class="navbar-brand-logo" src="{% static 'images/logo.svg' %}"/>
                    </a>
                </div>
                <div class="col px-0">
                    <div class="row d-flex justify-content-around">
                        <div class="col-auto pr-0">
                                <span class="nav-title">
                                    Ассоциация Грамотного Собаководства
                                </span>
                        </div>
                        <div class="col-auto pr-0 d-flex align-items-center">
                            <a href="mailto:tumanova171097@gmail.com">
                                <img alt="Электронная почта" class="icon-sm mb-1"
                                     src="{% static 'images/letter.svg' %}"/>
                            </a>
                        </div>
                        <div class="col-auto pr-0 d-flex align-items-center">
                            <a href="https://www.instagram.com/agssobaka/?hl=ru" target="_blank">
                                <img alt="ВКонтакте" class="icon-sm ml-n2 mb-1"
                                     src="{% static 'images/instagram.svg' %}"/>
                            </a>
                        </div>
                        <div class="col-auto mr-auto d-flex align-items-center">
                            <a href="https://vk.com/ags178" target="_blank">
                                <img alt="ВКонтакте" class="icon-md ml-n2 mb-1" src="{% static 'images/vk.svg' %}"/>
                            </a>
                        </div>
                        <div class="col-auto pl-1 pr-0 d-flex align-items-center">
                            <img alt="Город" class="icon-xs mr-2" src="{% static 'images/balloon.svg' %}"/>
                            <span>г. Санкт-Петербург</span>
                        </div>
                        <div class="col-auto pl-0 pr-2 d-flex align-items-center">
                            <a href="tel:+79516547277">
                                <img alt="Телефон" class="icon-xs m-2" src="{% static 'images/phone.svg' %}"/>
                            </a>
                            <span>8 (951) 654-72-77</span>
                        </div>
                    </div>
                    <div class="row justify-content-between navbar navbar-light navbar-expand-lg">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#main-menu" aria-controls="main-menu"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="main-menu">
                            <div class="nav-item col-auto d-flex align-items-center align-self-start">
                                <a class="nav-link text-center w-100" href="/">Главная </a>
                            </div>
                            <div class="nav-item col-auto d-flex align-items-center dropdown align-self-start">
                                <a class="nav-link text-center w-100">
                                    <span class="caret"></span>
                                    О нас
                                </a>
                                <div class="dropdown-menu py-0">
                                    <div class="dropdown-menu-after"></div>
                                    <a class="dropdown-item d-flex justify-content-center" href="#">Новости</a>
                                    <a class="dropdown-item d-flex justify-content-center"
                                       href="/interesting/">Интересное</a>
                                    <a class="dropdown-item d-flex justify-content-center" href="/#gallery">Фотогалерея</a>
                                </div>
                            </div>
                            <div class="nav-item col-auto d-flex align-items-center align-self-start">
                                <a class="nav-link text-center w-100" href="/specialists">Специалисты</a>
                            </div>
                            <div class="nav-item col-auto d-flex align-items-center align-self-start dropdown">
                                <a class="nav-link text-center w-100">
                                    <span class="caret"></span>
                                    Услуги
                                </a>
                                <div class="dropdown-menu py-0">
                                    <div class="dropdown-menu-after"></div>
                                    <a class="dropdown-item d-flex justify-content-center" href="/training/">Дрессировка
                                        собак</a>
                                    <a class="dropdown-item d-flex justify-content-center" href="/walking/">Выгул
                                        собак</a>
                                    <a class="dropdown-item d-flex justify-content-center" href="/consultation/">Консультации</a>
                                    <a class="dropdown-item d-flex justify-content-center disabled" href="#">Курсинг</a>
                                    <a class="dropdown-item d-flex justify-content-center disabled"
                                       href="#">Фотография</a>
                                </div>
                            </div>
                            <div class="nav-item col-auto d-flex align-items-center align-self-start">
                                <a class="nav-link text-center w-100" href="/discounts/">Акции</a>
                            </div>
                            <div class="nav-item col-auto d-flex align-items-center align-self-start">
                                <a class="nav-link text-center w-100" href="/shop/">Товары </a>
                            </div>
                            <div class="nav-item col-auto d-flex align-items-center align-self-start">
                                <a class="nav-link align-middle text-center w-100" href="/price/">Прайс</a>
                            </div>
                            <div class="nav-item col-auto d-flex align-items-center align-self-start">
                                <a class="nav-link text-center w-100" href="/contacts/">Контакты</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>