{% extends 'base_template.html' %}
{% load staticfiles %}
{% block robots %}all{% endblock %}
{% block title %}{% block og_title %}Цены на кинологические услуги в Санкт-Петербурге | АГС{% endblock %}{% endblock %}
{% block links %}
<link rel="canonical" href="https://agsdog.ru/price"/>
{% endblock %}
{% block description %}{% block og_description %}Прайс на кинологические услуги от лучших кинологов Санкт-Петербурга. Самые низкие цены на дрессировку и выгул собак. Недорого. | АГС{% endblock %}{% endblock %}
{% block content %}
{% include 'flags.html' %}
{% include 'header.html' %}
<div class="container-fluid d-flex flex-column align-items-center">
    <img srcset="{% static 'images/price-main-back-375.jpg' %} 375w,
                 {% static 'images/price-main-back-750.jpg' %} 750w,
                 {% static 'images/price-main-back-1500.jpg' %} 1500w,
                 {% static 'images/price-main-back-3000.jpg' %} 3000w,
                 {% static 'images/price-main-back.jpg' %} 5750w"
         sizes="(max-width: 375px) 375px,
                    (max-width: 750px) 750px,
                    (max-width: 1500px) 1500px,
                    (max-width: 3000px) 3000px,
                    5750px"
         class="main-background" src="{% static 'images/price-main-back.png' %}" alt="Фоновая картинка"/>
</div>
<div class="container-fluid p-0">
    <h1 class="display-4 text-black text-center my-3">
        Прайс
    </h1>
    <h3 class="display-5 text-black text-center logo-title-4 mt-5">
        <a href="/discounts#discounts-block">
            Наши акции
        </a>
    </h3>
    <table class="table table-bordered table-striped price-table text-center">
        <thead class="thead-warning">
        <tr>
            <th scope="col">№</th>
            <th scope="col">Наименование услуги</th>
            <th scope="col">Стоимость, руб.</th>
        </tr>
        </thead>
        <tbody>
        {% for sale in sales %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td class="text-left"><a class="text-dark" href="/discounts#discounts-block">{{ sale.full_title }}</a></td>
            <td>{{ sale.price }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row-fluid text-center mb-5">
        <span class="lead get-warning">Остерегайтесь мошенников. Оплата после диалога с администратором.</span>
    </div>
    <h3 class="display-5 text-black text-center logo-title">
        Дрессировка собак
    </h3>
    <table class="table table-bordered table-striped price-table text-center">
        <thead class="thead-warning">
        <tr>
            <th scope="col">№</th>
            <th scope="col">Наименование услуги</th>
            <th scope="col">Стоимость, руб.</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td class="text-left">Групповое занятие в Красносельском районе</td>
            <td>400</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td class="text-left">Индивидуальное занятие в Красносельском районе</td>
            <td>500</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td class="text-left">Индивидуальное занятие с выездом на дом в
                <u class="far-area" data-container="body" data-toggle="popover" data-placement="top"
                   data-content="Зелёная область - это зона на карте, которая находится близко к специалисту.">
                    зеленой области
                </u>
            </td>
            <td>800</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td class="text-left">Индивидуальное занятие с выездом на дом в
                <u class="far-area" data-container="body" data-toggle="popover" data-placement="top"
                   data-content="Синяя область - это зона на карте, которая находится далеко от специалиста.">
                    синей области
                </u>
            </td>
            <td>1200</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td class="text-left">Индивидуальное занятие по трюковой дрессировке в Красносельском районе</td>
            <td>500</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td class="text-left">Индивидуальное занятие по трюковой дрессировке с выездом на дом в
                <u class="far-area" data-container="body" data-toggle="popover" data-placement="top"
                   data-content="Зелёная область - это зона на карте, которая находится близко к специалисту.">
                    зеленой области
                </u>
            </td>
            <td>800</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td class="text-left">Индивидуальное занятие по трюковой дрессировке с выездом на дом в
                <u class="far-area" data-container="body" data-toggle="popover" data-placement="top"
                   data-content="Синяя область - это зона на карте, которая находится далеко от специалиста.">
                    синей области
                </u>
            </td>
            <td>1200</td>
        </tr>
        </tbody>
    </table>
    <div class="row-fluid text-center mb-5">
        <span class="lead get-warning">Остерегайтесь мошенников. Оплата после диалога с администратором.</span>
    </div>
    <h3 class="display-5 text-black text-center logo-title">
        Выгул
    </h3>
    <table class="table table-bordered table-striped price-table text-center">
        <thead class="thead-warning">
        <tr>
            <th scope="col">№</th>
            <th scope="col">Наименование услуги</th>
            <th scope="col">Стоимость, руб.</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td class="text-left">Классическая прогулка с собакой в <u class="far-area" data-container="body"
                                                                       data-toggle="popover" data-placement="top"
                                                                       data-content="Зелёная область - это зона на карте, которая находится близко к специалисту.">
                зеленой области
            </u></td>
            <td>300</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td class="text-left">Активная прогулка с собакой в <u class="far-area" data-container="body"
                                                                   data-toggle="popover" data-placement="top"
                                                                   data-content="Зелёная область - это зона на карте, которая находится близко к специалисту.">
                зеленой области
            </u></td>
            <td>450</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td class="text-left">Классическая прогулка с собакой в <u class="far-area" data-container="body"
                                                                       data-toggle="popover" data-placement="top"
                                                                       data-content="Синяя область - это зона на карте, которая находится далеко от специалиста.">
                синей области
            </u></td>
            <td>350</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td class="text-left">Активная прогулка с собакой в <u class="far-area" data-container="body"
                                                                   data-toggle="popover" data-placement="top"
                                                                   data-content="Синяя область - это зона на карте, которая находится далеко от специалиста.">
                синей области
            </u></td>
            <td>500</td>
        </tr>
        </tbody>
    </table>
    <div class="row-fluid text-center mb-5">
        <span class="lead get-warning">Остерегайтесь мошенников. Оплата после диалога с администратором.</span>
    </div>
    <h3 class="display-5 text-black text-center logo-title">
        Коррекция поведения
    </h3>
    <table class="table table-bordered table-striped price-table text-center">
        <thead class="thead-warning">
        <tr>
            <th scope="col">№</th>
            <th scope="col">Наименование услуги</th>
            <th scope="col">Стоимость, руб.</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td class="text-left">Индивидуальное занятие в Красносельском районе</td>
            <td>700</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td class="text-left">Индивидуальное занятие с выездом на дом в
                <u class="far-area" data-container="body" data-toggle="popover" data-placement="top"
                   data-content="Зелёная область - это зона на карте, которая находится близко к специалисту.">
                    зеленой области
                </u>
            </td>
            <td>1000</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td class="text-left">Индивидуальное занятие с выездом на дом в
                <u class="far-area" data-container="body" data-toggle="popover" data-placement="top"
                   data-content="Синяя область - это зона на карте, которая находится далеко от специалиста.">
                    синей области
                </u>
            </td>
            <td>1300</td>
        </tr>
        </tbody>
    </table>
    <div class="row-fluid text-center mb-5">
        <span class="lead get-warning">Остерегайтесь мошенников. Оплата после диалога с администратором.</span>
    </div>
    <h3 class="display-5 text-black text-center logo-title">
        Прочее
    </h3>
    <table class="table table-bordered table-striped price-table text-center">
        <thead class="thead-warning">
        <tr>
            <th scope="col">№</th>
            <th scope="col">Наименование услуги</th>
            <th scope="col">Стоимость, руб.</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td class="text-left">Занятие в связке инструктор-собака в Красносельском районе</td>
            <td>600</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td class="text-left">Занятие в связке инструктор-собака с выездом на дом в
                <u class="far-area" data-container="body" data-toggle="popover" data-placement="top"
                   data-content="Зелёная область - это зона на карте, которая находится близко к специалисту.">
                    зеленой области
                </u>
            </td>
            <td>900</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td class="text-left">Занятие в связке инструктор-собака с выездом на дом в
                <u class="far-area" data-container="body" data-toggle="popover" data-placement="top"
                   data-content="Синяя область - это зона на карте, которая находится далеко от специалиста.">
                    синей области
                </u>
            </td>
            <td>1300</td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td class="text-left">Консультация с мастером</td>
            <td>100</td>
        </tr>
        </tbody>
    </table>
    <div class="row-fluid text-center mb-5">
        <span class="lead get-warning">Остерегайтесь мошенников. Оплата после диалога с администратором.</span>
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}