{% extends 'base_template.html' %}
{% load staticfiles %}
{% block robots %}all{% endblock %}
{% block title %}Цены на кинологические услуги в Санкт-Петербурге | АГС{% endblock %}
{% block description %}Прайс на кинологические услуги от лучших кинологов Санкт-Петербурга. Самые низкие цены на дрессировку и выгул собак. Недорого. | АГС{% endblock %}
{% block content %}
    {% include 'flags.html' %}
    {% include 'header.html' %}
    <div class="container-fluid p-0">
        <img class="main-background" src="{% static 'images/price-main-back.jpg' %}" alt="Фон"/>
    </div>
    <div class="container-fluid p-0">
        <h1 class="display-4 text-black text-center my-3">
            Прайс
        </h1>
        <h3 class="display-5 text-black text-center logo-title-4 mt-5">
            <a href="/discounts#discounts-block">
                Наши акции
            </a>
        </h3>
        <table class="table table-bordered table-striped price-table text-center">
            <thead class="thead-warning">
            <tr>
                <th scope="col">№</th>
                <th scope="col">Наименование услуги</th>
                <th scope="col">Стоимость, руб.</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td class="text-left"><a class="text-dark" href="/discounts#discounts-block">10 групповых занятий в
                    Красносельском районе по цене девяти</a></td>
                <td>3600</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td class="text-left"><a class="text-dark" href="/discounts#discounts-block">10 индивидуальных
                    занятий в Красносельском районе по цене девяти</a></td>
                <td>4500</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td class="text-left"><a class="text-dark" href="/discounts#discounts-block">Курс «Первые шаги»</a>
                </td>
                <td>2200</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td class="text-left"><a class="text-dark" href="/discounts#discounts-block">Курс «Золотой пёс»</a>
                </td>
                <td>6000</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td class="text-left"><a class="text-dark" href="/discounts#discounts-block">Курс «Серебряный
                    пёс»</a></td>
                <td>4000</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td class="text-left"><a class="text-dark" href="/discounts#discounts-block">Курс «Постоянный
                    клиент»</a></td>
                <td>11000</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td class="text-left"><a class="text-dark" href="/discounts#discounts-block">5 классических прогулок
                    у понравившегося Вам волкера</a></td>
                <td>1275</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td class="text-left"><a class="text-dark" href="/discounts#discounts-block">20 классических прогулок
                    у понравившегося Вам волкера</a></td>
                <td>5000</td>
            </tr>
            </tbody>
        </table>
        <div class="row-fluid text-center mb-5">
            <span class="lead get-warning">Остерегайтесь мошенников. Оплата после диалога с администратором.</span>
        </div>
        <h3 class="display-5 text-black text-center logo-title">
            Дрессировка собак
        </h3>
        <table class="table table-bordered table-striped price-table text-center">
            <thead class="thead-warning">
            <tr>
                <th scope="col">№</th>
                <th scope="col">Наименование услуги</th>
                <th scope="col">Стоимость, руб.</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td class="text-left">Групповое занятие в Красносельском районе</td>
                <td>400</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td class="text-left">Индивидуальное занятие в Красносельском районе</td>
                <td>500</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td class="text-left">Индивидуальное занятие с выездом на дом в
                    <u class="far-area" data-container="body" data-toggle="popover" data-placement="top"
                       data-content="Зелёная область - это зона на карте, которая находится близко к специалисту.">
                        зеленой области
                    </u>
                </td>
                <td>800</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td class="text-left">Индивидуальное занятие с выездом на дом в
                    <u class="far-area" data-container="body" data-toggle="popover" data-placement="top"
                       data-content="Синяя область - это зона на карте, которая находится далеко от специалиста.">
                        синей области
                    </u>
                </td>
                <td>1200</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td class="text-left">Индивидуальное занятие по трюковой дрессировке в Красносельском районе</td>
                <td>500</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td class="text-left">Индивидуальное занятие по трюковой дрессировке с выездом на дом в
                    <u class="far-area" data-container="body" data-toggle="popover" data-placement="top"
                       data-content="Зелёная область - это зона на карте, которая находится близко к специалисту.">
                        зеленой области
                    </u>
                </td>
                <td>800</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td class="text-left">Индивидуальное занятие по трюковой дрессировке с выездом на дом в
                    <u class="far-area" data-container="body" data-toggle="popover" data-placement="top"
                       data-content="Синяя область - это зона на карте, которая находится далеко от специалиста.">
                        синей области
                    </u>
                </td>
                <td>1200</td>
            </tr>
            </tbody>
        </table>
        <div class="row-fluid text-center mb-5">
            <span class="lead get-warning">Остерегайтесь мошенников. Оплата после диалога с администратором.</span>
        </div>
        <h3 class="display-5 text-black text-center logo-title">
            Выгул
        </h3>
        <table class="table table-bordered table-striped price-table text-center">
            <thead class="thead-warning">
            <tr>
                <th scope="col">№</th>
                <th scope="col">Наименование услуги</th>
                <th scope="col">Стоимость, руб.</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td class="text-left">Классическая прогулка с собакой в <u class="far-area" data-container="body"
                                                                           data-toggle="popover" data-placement="top"
                                                                           data-content="Зелёная область - это зона на карте, которая находится близко к специалисту.">
                    зеленой области
                </u></td>
                <td>300</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td class="text-left">Активная прогулка с собакой в <u class="far-area" data-container="body"
                                                                       data-toggle="popover" data-placement="top"
                                                                       data-content="Зелёная область - это зона на карте, которая находится близко к специалисту.">
                    зеленой области
                </u></td>
                <td>450</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td class="text-left">Классическая прогулка с собакой в <u class="far-area" data-container="body"
                                                                           data-toggle="popover" data-placement="top"
                                                                           data-content="Синяя область - это зона на карте, которая находится далеко от специалиста.">
                    синей области
                </u></td>
                <td>350</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td class="text-left">Активная прогулка с собакой в <u class="far-area" data-container="body"
                                                                       data-toggle="popover" data-placement="top"
                                                                       data-content="Синяя область - это зона на карте, которая находится далеко от специалиста.">
                    синей области
                </u></td>
                <td>500</td>
            </tr>
            </tbody>
        </table>
        <div class="row-fluid text-center mb-5">
            <span class="lead get-warning">Остерегайтесь мошенников. Оплата после диалога с администратором.</span>
        </div>
        <h3 class="display-5 text-black text-center logo-title">
            Коррекция поведения
        </h3>
        <table class="table table-bordered table-striped price-table text-center">
            <thead class="thead-warning">
            <tr>
                <th scope="col">№</th>
                <th scope="col">Наименование услуги</th>
                <th scope="col">Стоимость, руб.</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td class="text-left">Индивидуальное занятие в Красносельском районе</td>
                <td>700</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td class="text-left">Индивидуальное занятие с выездом на дом в
                    <u class="far-area" data-container="body" data-toggle="popover" data-placement="top"
                       data-content="Зелёная область - это зона на карте, которая находится близко к специалисту.">
                        зеленой области
                    </u>
                </td>
                <td>1000</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td class="text-left">Индивидуальное занятие с выездом на дом в
                    <u class="far-area" data-container="body" data-toggle="popover" data-placement="top"
                       data-content="Синяя область - это зона на карте, которая находится далеко от специалиста.">
                        синей области
                    </u>
                </td>
                <td>1300</td>
            </tr>
            </tbody>
        </table>
        <div class="row-fluid text-center mb-5">
            <span class="lead get-warning">Остерегайтесь мошенников. Оплата после диалога с администратором.</span>
        </div>
        <h3 class="display-5 text-black text-center logo-title">
            Прочее
        </h3>
        <table class="table table-bordered table-striped price-table text-center">
            <thead class="thead-warning">
            <tr>
                <th scope="col">№</th>
                <th scope="col">Наименование услуги</th>
                <th scope="col">Стоимость, руб.</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td class="text-left">Занятие в связке инструктор-собака в Красносельском районе</td>
                <td>600</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td class="text-left">Занятие в связке инструктор-собака с выездом на дом в
                    <u class="far-area" data-container="body" data-toggle="popover" data-placement="top"
                       data-content="Зелёная область - это зона на карте, которая находится близко к специалисту.">
                        зеленой области
                    </u>
                </td>
                <td>900</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td class="text-left">Занятие в связке инструктор-собака с выездом на дом в
                    <u class="far-area" data-container="body" data-toggle="popover" data-placement="top"
                       data-content="Синяя область - это зона на карте, которая находится далеко от специалиста.">
                        синей области
                    </u>
                </td>
                <td>1300</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td class="text-left">Консультация с мастером</td>
                <td>100</td>
            </tr>
            </tbody>
        </table>
        <div class="row-fluid text-center mb-5">
            <span class="lead get-warning">Остерегайтесь мошенников. Оплата после диалога с администратором.</span>
        </div>
    </div>
    {% include 'footer.html' %}
{% endblock %}