{% extends 'base_template.html' %}
{% load staticfiles %}
{% block content %}
    {% include 'flags.html' %}
    {% include 'header.html' %}
    <div class="container-fluid p-0 w-80">
        <h1 class="display-4 text-black text-center" style="margin-top:8%">
            {{ title }}
        </h1>
        <div class="card-deck mb-5 h-auto">
            {% for product in products %}
                <div class="card shop-card">
                    <img class="card-img-top img-fluid" src="{{ product.thumbnail.url }}"/>
                    <div class="card-body text-center">
                        <h5 class="card-title card-shop-title text-center">{{ product.title }}</h5>
                        <span class="h5">{{ product.price }} &#8381; (100 г)</span>
                        <p class="card-text text-justify">{{ product.description|safe }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center mb-5">
            <a class="btn btn-warning btn-training" href="/order">Заказать лакомство</a>
        </div>
    </div>
    {% include 'footer.html' %}
{% endblock %}