{% extends 'base_template.html' %}
{% load staticfiles %}
{% block robots %}all{% endblock %}
{% block title %}Специалисты по выгулу и дрессировке собак в СПб | АГС{% endblock %}
{% block description %}Наши кинологи - профессиональные специалисты по дрессировке и выгулу собак по всему Санкт-Петербургу{% endblock %}
{% block content %}
{% include 'flags.html' %}
{% include 'header.html' %}
<div class="container-fluid p-0">
    <img class="main-background" src="{% static 'images/specialists-main-back.jpg' %}" alt="Фоновая картинка"/>
</div>
<div class="container-fluid p-0">
    <h1 class="display-4 text-black text-center logo-title-4 mt-3">
        Наши специалисты
    </h1>
    <div class="card-deck specialists-card-deck">
        {% for walker in walkers %}
        <div class="card specialists-card">
            <div class="card-body">
                <h3 class="card-title text-center">{{ walker.user.first_name }}</h3>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <div class="container justify-content-center" style="height:60vh">
                            <div id="photos-specialist-{{ walker.id }}" class="carousel slide mb-5" data-ride="carousel">
                                <div class="carousel-inner specialists-carousel-inner">
                                    <div class="carousel-item specialists-carousel-item active">
                                        <div class="d-flex justify-content-center">
                                            <img src="{{ walker.photo.url }}"
                                                 class="specialists-carousel-img img-fluid" alt="...">
                                        </div>
                                    </div>
                                    {% if walker.extra_photo_1 %}
                                    <div class="carousel-item specialists-carousel-item">
                                        <div class="d-flex justify-content-center">
                                            <img src="{{ walker.extra_photo_1.url }}"
                                                 class="specialists-carousel-img img-fluid" alt="...">
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if walker.extra_photo_2 %}
                                    <div class="carousel-item specialists-carousel-item">
                                        <div class="d-flex justify-content-center">
                                            <img src="{{ walker.extra_photo_2.url }}"
                                                 class="specialists-carousel-img img-fluid" alt="...">
                                        </div>
                                    </div>
                                    {% endif %}
                                    {% if walker.extra_photo_3 %}
                                    <div class="carousel-item specialists-carousel-item">
                                        <div class="d-flex justify-content-center">
                                            <img src="{{ walker.extra_photo_3.url }}"
                                                 class="specialists-carousel-img img-fluid" alt="...">
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                <a class="carousel-control-prev" href="#photos-specialist-{{ walker.id }}" role="button"
                                   data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#photos-specialist-{{ walker.id }}" role="button"
                                   data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="offset-1 col">
                        <span class="h4">Специализация: </span><span>{{walker.specialization|lower}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1 text-justify d-flex align-items-center">
                        <span class="display-3">&#171;</span>
                    </div>
                    <div class="col-10 text-justify">
                        {{ walker.history|safe }}
                    </div>
                    <div class="col-1 text-justify d-flex align-items-center">
                        <span class="display-3">&#187;</span>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="offset-2 col-auto">
                        <h4>Карта специалиста:</h4>
                        <div class="w-100"></div>
                        <a href="#" class="map-pop" id="{{walker.id}}">
                            <img src="{{ walker.walking_map.url }}" class="img-fluid specialists-map"/>
                        </a>
                    </div>
                    <div class="col">
                        <h4 class="ml-2">Районы:</h4>
                        <div class="row districts-row" data-container="body" data-toggle="popover" data-placement="top"
                             data-content="Стоимость классического выгула в зелёной зоне составляет 300 рублей, активного выгула - 350 рублей">
                            <div class="col-1">
                                <div class="rectangle-legend-map-small green bordered ml-2 mt-1">
                                </div>
                            </div>
                            <div class="col">
                                <p class="ml-2">
                                    {% for zone in walker.green_zones.all %}
                                    {{ zone.name }}{% if not forloop.last %},{%endif%}
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                        <div class="row districts-row" data-container="body" data-toggle="popover" data-placement="top"
                             data-content="Стоимость классического выгула в голубой зоне составляет 450 рублей, активного выгула - 500 рублей">
                            <div class="col-1">
                                <div class="rectangle-legend-map-small blue bordered ml-2 mt-1">
                                </div>
                            </div>
                            <div class="col">
                                <p class="ml-2">
                                    {% for zone in walker.blue_zones.all %}
                                    {{ zone.name }}{% if not forloop.last %},{%endif%}
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="map-modal-{{walker.id}}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span
                                class="sr-only">Закрыть</span></button>
                        <img src="" class="map-preview" style="width: 100%;">
                        <div class="row">
                            <div class="col-5">
                                <h5 style="margin-left:2.5rem">Районы</h5>
                                <ol>
                                    <li>
                                        Адмиралтейский
                                    </li>
                                    <li>
                                        Василеостровский
                                    </li>
                                    <li>
                                        Выборгский
                                    </li>
                                    <li>
                                        Калининский
                                    </li>
                                    <li>
                                        Кировский
                                    </li>
                                    <li>
                                        Колпинский
                                    </li>
                                    <li>
                                        Красногвардейский
                                    </li>
                                    <li>
                                        Красносельский
                                    </li>
                                    <li>
                                        Кронштадтский
                                    </li>
                                    <li>
                                        Курортный
                                    </li>
                                    <li>
                                        Московский
                                    </li>
                                    <li>
                                        Невский
                                    </li>
                                    <li>
                                        Петроградский
                                    </li>
                                    <li>
                                        Петродворцовый
                                    </li>
                                    <li>
                                        Приморский
                                    </li>
                                    <li>
                                        Пушкинский
                                    </li>
                                    <li>
                                        Фрунзенский
                                    </li>
                                    <li>
                                        Центральный
                                    </li>
                                    <li>
                                        Мурино
                                    </li>
                                </ol>
                            </div>
                            <div class="col-5 d-flex flex-column align-items-center justify-content-center">
                                <div class="row">
                                    <div class="rectangle-legend-map green bordered m-3">
                                    </div>
                                    <span class="mt-2">Районы по обычной стоимости</span>
                                </div>
                                <div class="row ml-3">
                                    <div class="rectangle-legend-map blue bordered m-3">
                                    </div>
                                    <span class="mt-2">Районы по повышенной стоимости</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% include 'footer.html' %}
{% endblock %}