{% extends 'base_template.html' %}
{% load staticfiles %}
{% block content %}
    {% include 'flags.html' %}
    {% include 'header.html' %}
    <div class="container-fluid p-0">
        <img class="main-background" src="{% static 'images/auth.jpg' %}" alt="Фоновая картинка"/>
    </div>
    <div class="container w-50 p-0">
        <h2 class="display-4 text-black text-center my-3">
            Добро пожаловать!
        </h2>
        {% if form.errors %}
            <p class="text-danger">Логин или пароль были введены неправильно. Попробуйте ещё раз.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
                <p>У Вас нет доступа к данной странице. Возможно, Вы уже зарегестрированы.</p>
            {% else %}
                <p>Пожалуйста, войдите, чтобы увидеть данную страницу.</p>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Логин:</label>
                <input type="text" name="username" autofocus required class="form-control" id="id_username"
                       placeholder="Введите логин">
            </div>
            <div class="form-group">
                <label for="id_password">Пароль:</label>
                <input type="password" name="password" required class="form-control" id="id_password"
                       placeholder="Введите пароль">
            </div>
            <button type="submit" value="login" class="btn btn-submit-login">Отправить</button>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
    </div>
    {% include 'footer.html' %}
{% endblock %}